* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #050505;
  color: white;
}

/* 🔥 Hero */
.hero {
  height: 80vh;
  background: url("hero.png") center / cover no-repeat;
}

/* overlay */
.hero-overlay {
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.8),
    #050505
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
}

.hero h1 {
  font-size: 64px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 20px;
  max-width: 500px;
}

.search-box {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.search-box input {
  width: 400px;
  padding: 14px;
  border-radius: 10px;
  border: none;
}

.search-box button {
  padding: 14px 20px;
  border-radius: 10px;
  border: none;
  background: red;
  color: white;
  cursor: pointer;
}