body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.film-card {
  background: rgba(255, 255, 255, 0.9);
  padding: 22px;
  border-radius: 22px;
  margin: 25px auto;
  max-width: 650px;
}

.film-img {
  width: 250px;
  border-radius: 15px;
  margin: 12px 0;
}

.trailer {
  width: 100%;
  max-width: 560px;
  height: 315px;
  border: none;
  border-radius: 14px;
  margin-top: 15px;
}

.trailer-link {
  display: inline-block;
  margin-top: 15px;
}